<turbo-frame id="avatar_form">
  <%= link_to "✖", "#", data: { turbo_frame: "avatar_form" }, class: "close-avatar-form" %>

  <%= image_tag(@user.avatar, id: "avatar-preview", data: { avatar_preview_target: "image"}) %>

  <%= form_with model: @user, url: update_avatar_user_path(@user), method: :patch, local: false do |f| %>
    <% if @user.errors.any? %>
      <div class="error-messages">
        <% @user.errors[:profile_picture].each do |message| %>
          <%= message %>
        <% end %>
      </div>
    <% end %>
    <%= f.file_field :profile_picture, accept: "image/png, image/jpeg, image.jpg", direct_upload: true, data: { action: "change->avatar-preview#updatePreview", avatar_preview_target: "input" } %>
    <%= f.submit "Update Avatar" %>
  <% end %>

</turbo-frame>
