  <div id="navbar">
    <%= link_to root_path do %>
      <div id="navbar-logo">
        <%= image_tag("logo.png") %>
        <h1>CrateCurate</h1>
      </div>
    <% end %>
    <div id="navbar-links">
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
    </div>
  </div>
